{% extends "courses/course_dashboard.html" %}

{% block breadcrumb %}
    {{ block.super }} 
    <li><a href="{% url 'courses:lessons' course.slug %}">Aulas</a></li>
    <li><a href="{% url 'courses:lesson' course.slug lesson.pk %}">{{ lesson }}</a></li>
    <li><a href="{% url 'courses:material' course.slug material.pk %}">{{ material }}</a></li>
{% endblock %}

{% block dashboard_content %}
    <div class="well">
        <h2><a href="{% url 'courses:material' course.slug material.pk %}">{{ material }}</a></h2>
        <!-- por padrão (segurança) o Django vai aplicar "scape" na url para evitar execução de códigos maliciosos, porém caso exista confiabilidade no que será exibido a tag "safe" pode ser utilizada -->
        {{ material.embedded|safe }}
        <p>
            <a href="{% url 'courses:lesson' course.slug lesson.pk %}">Voltar</a>
        </p>
    </div>
{% endblock %}