{% extends "accounts/dashboard.html" %}

{% block breadcrumb %}
    {{ block.super }} <!-- block.super para utilzar os dados que estão no block .html extendido, sem o super apos inserir os novos dados eles sobreescreveriam os extendidos -->
    <li><a href="{% url 'accounts:edit' %}">Editar Conta</a></li>
{% endblock %}

{% block dashboard_content %}
<form class="pure-form pure-form-stacked" method="POST">
    {% csrf_token %}
    {% if sucess %}
        <p>Os dados foram alterados com suceso</p>
    {% endif %}
    <fieldset>
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="pure-control-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Salvar Modificações</button>
        </div>
    </fieldset>
</form>
{% endblock %}